header {
    background-color: #FFC600;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: none;
    display: flex;
    justify-content: center;
}

#menu ul li{
    float: right;
    background-color: aqua;    
}

#menu a{
    color: black;
    background-color: #FFC600;
    text-decoration: none;
    display: flex;
    padding: 10px 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.logoppal{
    height: auto;
    width: 300px;
    display: flex;
    margin: auto;
    justify-content: 39rem;

}

.nombrelogo {
   width: 450px;
   display: flex;
   margin: auto;
}

.carousel-inner {
    max-height: 37rem;
}

@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
}
